# Git & CI
.git/
.github/
.gitignore

# IDE & Editors
.DS_Store
.vscode/
.zed/

# Environment & Secrets
.env

# Bin & Data
bin/
*data/

# Makefile
Makefile

# Docker
.dockerignore
Dockerfile
compose.yml

# Docs
LICENSE
README.md
