# Git & CI
.git/
.github/
.gitignore

# IDE & Editors
.DS_Store
.vscode/
.zed/

# Environment & Secrets
.env
.env.*

# Build & Data
bin/
dist/
*data/

# Makefile
Makefile

# Docker
.dockerignore
Dockerfile
compose.yml
compose.*.yml

# Docs
LICENSE
README.md
